<div class="post">
  <div class="header">
    <h1>Post Title</h1>

    <button routerLink="/" class="btn btn-link">Home page</button>
  </div>

  <div class="info">
    <strong>Here autor</strong>
    <small>12.04.2021</small>
  </div>

  <div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere unde
      praesentium illum labore nulla? Quibusdam aperiam natus tenetur eveniet
      aliquam laudantium, unde quaerat impedit quis aut rem inventore, odio
      maiores.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere unde
      praesentium illum labore nulla? Quibusdam aperiam natus tenetur eveniet
      aliquam laudantium, unde quaerat impedit quis aut rem inventore, odio
      maiores.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere unde
      praesentium illum labore nulla? Quibusdam aperiam natus tenetur eveniet
      aliquam laudantium, unde quaerat impedit quis aut rem inventore, odio
      maiores.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere unde
      praesentium illum labore nulla? Quibusdam aperiam natus tenetur eveniet
      aliquam laudantium, unde quaerat impedit quis aut rem inventore, odio
      maiores.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere unde
      praesentium illum labore nulla? Quibusdam aperiam natus tenetur eveniet
      aliquam laudantium, unde quaerat impedit quis aut rem inventore, odio
      maiores.
    </p>
  </div>
</div>
